# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r

language: R
cache: packages
addons:
  apt:
    update:
    - true
    sources:
    - sourceline: ppa:opencpu/imagemagick
    packages:
    - libmagick++-dev